# Employment Disability Status Extract Table

In [2]:
import pandas as pd
import urllib.request

from html_table_parser import HTMLTableParser

In [3]:
web = 'https://www.bls.gov/news.release/disabl.t01.htm'

In [4]:
req = urllib.request.Request(url=web)
f = urllib.request.urlopen(req)
xhtml = f.read().decode('utf-8')

In [5]:
p = HTMLTableParser()
p.feed(xhtml)

In [6]:
Table_List = p.tables

In [8]:
Disability_stats = pd.DataFrame.from_dict(Table_List[0])

In [9]:
Disability_stats

,0,1,2,3,4,5,6,7,8
0,Characteristic,Civilian noninsti- tutional population,Civilian labor force,Not in labor force,None,None,None,None,None
1,Total,Participation rate,Employed,Unemployed,None,None,None,None,None
2,Total,Percent of population,Total,Rate,None,None,None,None,None
3,TOTAL,,None,None,None,None,None,None,None
4,"Total, 16 years and over","257,791","162,075",62.9,"155,761",60.4,"6,314",3.9,"95,716"
5,Men,"124,678","86,096",69.1,"82,698",66.3,"3,398",3.9,"38,582"
6,Women,"133,112","75,978",57.1,"73,063",54.9,"2,916",3.8,"57,134"
7,,None,None,None,None,None,None,None,None
8,PERSONS WITH A DISABILITY,,None,None,None,None,None,None,None
9,"Total, 16 years and over","30,136","6,266",20.8,"5,767",19.1,499,8.0,"23,870"
10,Men,"13,997","3,389",24.2,"3,122",22.3,267,7.9,"10,608"
11,Women,"16,139","2,877",17.8,"2,645",16.4,232,8.1,"13,262"
12,Age,,None,None,None,None,None,None,None
13,16 to 64 years,"15,325","5,111",33.3,"4,666",30.4,445,8.7,"10,215"
14,16 to 19 years,644,151,23.5,112,17.4,39,26.1,493
15,20 to 24 years,867,384,44.3,328,37.8,56,14.6,483
16,25 to 34 years,"1,914",930,48.6,828,43.3,101,10.9,984
17,35 to 44 years,"2,140",861,40.2,795,37.1,67,7.7,"1,279"
18,45 to 54 years,"3,537","1,204",34.0,"1,123",31.7,81,6.7,"2,333"
19,55 to 64 years,"6,223","1,580",25.4,"1,480",23.8,100,6.3,"4,643"
20,65 years and over,"14,810","1,155",7.8,"1,101",7.4,54,4.7,"13,655"
21,Race and Hispanic or Latino ethnicity,,None,None,None,None,None,None,None
22,White,"23,987","5,043",21.0,"4,676",19.5,367,7.3,"18,944"
23,Black or African American,"4,151",763,18.4,677,16.3,85,11.2,"3,388"
24,Asian,878,162,18.4,150,17.1,12,7.1,716
25,Hispanic or Latino ethnicity,"3,258",753,23.1,679,20.9,74,9.8,"2,505"
26,Educational attainment,,None,None,None,None,None,None,None
27,"Total, 25 years and over","28,625","5,731",20.0,"5,327",18.6,403,7.0,"22,894"
28,Less than a high school diploma,"5,250",581,11.1,513,9.8,68,11.7,"4,668"
29,"High school graduates, no college ( 1 )","10,326","1,748",16.9,"1,609",15.6,139,7.9,"8,578"
30,Some college or associate degree,"7,624","1,783",23.4,"1,659",21.8,124,6.9,"5,841"
31,Bachelor's degree and higher ( 2 ),"5,425","1,619",29.8,"1,546",28.5,73,4.5,"3,806"
32,,None,None,None,None,None,None,None,None
33,PERSONS WITH NO DISABILITY,,None,None,None,None,None,None,None
34,"Total, 16 years and over","227,655","155,809",68.4,"149,994",65.9,"5,815",3.7,"71,846"
35,Men,"110,681","82,707",74.7,"79,576",71.9,"3,131",3.8,"27,974"
36,Women,"116,974","73,102",62.5,"70,418",60.2,"2,684",3.7,"43,872"
37,Age,,None,None,None,None,None,None,None
38,16 to 64 years,"191,182","146,932",76.9,"141,390",74.0,"5,542",3.8,"44,250"
39,16 to 19 years,"16,121","5,734",35.6,"5,014",31.1,720,12.6,"10,387"
40,20 to 24 years,"20,372","14,715",72.2,"13,723",67.4,992,6.7,"5,657"
41,25 to 34 years,"42,667","35,844",84.0,"34,496",80.8,"1,348",3.8,"6,823"
42,35 to 44 years,"38,429","32,758",85.2,"31,822",82.8,936,2.9,"5,671"
43,45 to 54 years,"37,703","32,107",85.2,"31,250",82.9,857,2.7,"5,596"
44,55 to 64 years,"35,890","25,773",71.8,"25,085",69.9,689,2.7,"10,117"
45,65 years and over,"36,472","8,877",24.3,"8,604",23.6,273,3.1,"27,595"
46,Race and Hispanic or Latino ethnicity,,None,None,None,None,None,None,None
47,White,"176,235","120,772",68.5,"116,785",66.3,"3,987",3.3,"55,463"
48,Black or African American,"28,610","19,651",68.7,"18,414",64.4,"1,237",6.3,"8,959"
49,Asian,"15,083","9,975",66.1,"9,682",64.2,293,2.9,"5,109"
50,Hispanic or Latino ethnicity,"39,475","27,583",69.9,"26,333",66.7,"1,250",4.5,"11,893"
51,Educational attainment,,None,None,None,None,None,None,None
52,"Total, 25 years and over","191,162","135,360",70.8,"131,257",68.7,"4,103",3.0,"55,802"
53,Less than a high school diploma,"17,001","9,696",57.0,"9,188",54.0,508,5.2,"7,304"
54,"High school graduates, no college ( 1 )","52,266","34,263",65.6,"32,941",63.0,"1,322",3.9,"18,003"
55,Some college or associate degree,"49,781","35,803",71.9,"34,679",69.7,"1,124",3.1,"13,978"
56,Bachelor's degree and higher ( 2 ),"72,114","55,598",77.1,"54,449",75.5,"1,149",2.1,"16,516"
57,Footnotes (1) Includes persons with a high sc...,None,None,None,None,None,None,None,None
58,NOTE: Estimates for the above race groups (Whi...,None,None,None,None,None,None,None,None

In [ ]:
Disability_stats.to_excel("employment_disability.csv", na_rep='', float_format=None,                                columns=None, header=True, index=True, index_label=None,                                    startrow=0, engine=None, merge_cells=True, encoding=None,
                         inf_rep='inf', verbose=True)